form {
  width: 350px;
  margin: 30px auto;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
}

label {
  display: block;
  margin-top: 18px;
  margin-bottom: 6px;
}

input {
  width: 100%;
  padding: 9px;
  box-sizing: border-box;
}

p {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

button {
  margin-top: 25px;
  padding: 10px 25px;
}
